.register{
    background-color: rgba(21, 204, 228, 0.671);
    width: 500px;
   height: 500px; 
    border: solid black;
    text-align: center; 
    position: relative;
    left: 300px;    
}
.register input{
    margin-top: 10px;
    width: 90%;
    padding: 10px;
}
.register  button{
    background-color: aquamarine;
    margin-top: 10px;
}